name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Show Pixi version
        run: pixi --version

      - name: Setup Pixi environment
        run: pixi install --environment dev

      - name: Lint
        run: pixi run lint

      - name: Type check
        run: pixi run typecheck

      - name: Run tests
        run: pixi run test

      - name: Coverage
        run: pixi run coverage
